    /*These first few rules I've taken from the webpage at https://www.digitalocean.com/community/tutorials/css-minimal-css-reset to reset the css */
    
    html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    *, *:before, *:after {
    box-sizing: inherit;
    }
    
    body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: white;
    }

    
    

    ol, ul {
    list-style: none;
    }
    
    header {
    background-color: #e0f0f0;
    padding: 20px;
    position: sticky;
    top: 0;
    }

    h1 p {
        background-color: transparent;
    }
    
    .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    }

    nav li {
    display: inline;
    }
    
    #about p {
        margin: 0 0.5rem;
        text-align: center;
    }

    #project_cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    }
    
    .image {
    max-width: 25%;
    max-height:auto;
    object-fit: cover;
    border: 1px black solid;
    margin: 0.5rem;
    }

    #project_cards .image:hover {
        opacity: 0.5;
    }
    
    .container h2 {
        background-color: blueviolet;
        padding: 0.5rem 0;
    }

    footer {
        position: sticky;
        background-color:lightgray;
        text-emphasis-color: black;
        text-align: center;
        font-weight: bold;
        /*position: fixed;*/
        bottom: 0;
        width: 100%;
        margin-top: 1rem;
        min-height: 2rem;
    }

    footer p {
        position: relative;
        top: 0.5rem;
    }
    
    
    
    
