/*These first few rules I've taken from the webpage at https://www.digitalocean.com/community/tutorials/css-minimal-css-reset to reset the css */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 33.33%;
    height: auto;
  }

  .content {
    max-width: 31.25rem;
    margin: auto;
  }

  body {
    width: 60rem;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /*margin: 0 2rem;*/
  }

  nav li {
    display: inline-block;
    margin: 2rem;
  }

  header, nav, section {
    margin-bottom: 2rem;
  }

.intro p {
  text-align: justify;
}

  /*p {
    text-align: left;
  }*/

 /* #container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }*/

